<configuration>
  <connectionStrings>
    <add name="SweetDBContext" connectionString="Server=tcp:sweetdbserver.database.windows.net,1433;Initial Catalog=SweetDB;Persist Security Info=False;User ID=SweetDB;Password=La2w!5-02hF8;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
</configuration>
